.flexRow,
.flexColumn {
  display: flex; }

.flexRow {
  flex-direction: row; }

.flexColumn {
  flex-direction: column; }

.flex1 {
  flex: 1; }

.flexWrap {
  flex-wrap: wrap; }

.justifyCenter, .perfectCenter {
  justify-content: center; }

.justifyFlexEnd {
  justify-content: flex-end; }

.justifyFlexStart {
  justify-content: flex-start; }

.justifySpaceAround {
  justify-content: space-around; }

.justifySpaceBetween {
  justify-content: space-between; }

.alignItemsCenter, .perfectCenter {
  align-items: center; }

.flexBasis40 {
  flex-basis: 80%; }

.flexBasis80 {
  flex-basis: 80%; }

.flexBasis100 {
  flex-basis: 100%; }

.mainSection {
  padding-bottom: 80px; }

body {
  background-color: white;
  font-size: 18px;
  width: 100%;
  height: auto; }

i {
  display: flex;
  border: 1px solid #dee0df;
  color: #525252;
  cursor: pointer;
  padding: 10px;
  background-color: white; }

.connexion {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 180px;
  height: 46px;
  margin: 0 10px;
  background-color: white;
  border: 1px solid #dee0df;
  color: #525252; }

i, .connexion {
  transition: all ease-out .1s; }
  i:hover, .connexion:hover {
    background-color: #fe0000;
    color: white;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3); }

.smallDeviceAdd {
  display: none !important; }

header {
  background-color: white;
  border-bottom: 1px solid #dee0df; }
  header a {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 !important; }
    header a:hover {
      text-decoration: none; }
  header a, header i {
    height: 46px;
    margin-left: 15px; }
  header button {
    height: 100%; }
  header .blackHeader {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 5px 0 10px 0; }
  header h1 {
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
    color: #525252;
    margin: 0;
    font-size: 1.5em;
    font-weight: bold;
    border-right: 1px solid #dee0df;
    cursor: pointer; }
    header h1 img {
      height: 35px;
      width: 35px;
      margin-right: 10px; }
  header button {
    padding-bottom: 10px !important;
    border-radius: 0 !important; }
  header nav {
    padding: 5px 0; }
  header input {
    width: 250px; }

li.parent {
  margin: 5px 15px 0 15px;
  list-style-type: none;
  position: relative;
  width: 100px;
  color: white;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  padding: 5px;
  text-align: center; }
  li.parent:hover {
    background-color: #5eefb6;
    color: #525252; }
  li.parent ul {
    display: none;
    padding-left: 0;
    position: absolute;
    width: 100%;
    left: 0; }
  li.parent li {
    list-style-type: none;
    color: white;
    padding: 5px;
    background-color: #525252;
    transition: all 0.2s ease-in-out; }
    li.parent li:hover {
      background-color: #5eefb6;
      color: white; }

li.parent:hover ul {
  display: block; }

main {
  background-color: white;
  align-items: flex-start;
  height: calc(100vh - 100px); }
  main form {
    background-color: white;
    padding: 25px 10px;
    margin: 50px auto;
    width: 50%;
    border: 1px solid #dee0df; }
    main form .inputcontainer {
      position: relative;
      margin-bottom: 40px; }
    main form .floating-label {
      position: absolute;
      top: 5px;
      left: 2px;
      color: #dee0df;
      transition: all 0.2s ease-in-out;
      pointer-events: none; }
    main form input[type=text], main form input[type=mail], main form input[type=password], main form input[type=number], main form input[type=tel], main form textarea {
      background: transparent;
      border: none;
      border-bottom: 1px solid #dee0df;
      padding: 5px 0 5px 5px;
      color: #525252;
      width: 350px;
      transition: all 0.2s ease-in-out;
      letter-spacing: 0.05em; }
    main form input[type=radio] {
      margin-right: 5px; }
    main form input[type=radio]:checked {
      background-color: #06172d; }
    main form input:focus {
      border-bottom: 1px solid #525252;
      color: #06172d; }
    main form input:focus ~ .floating-label, main form textarea:focus ~ .floating-label {
      color: #525252;
      top: -15px;
      font-size: 11px; }
      main form input:not(:focus):valid ~ .floating-label, main form textarea:not(:focus):valid ~ .floating-label {
        color: #525252;
        top: -15px;
        font-size: 11px; }
    main form .tagContainerParent {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      margin-bottom: 30px; }
      main form .tagContainerParent .roundIcon {
        font-size: 10px; }
    main form .tagsContainer {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      align-items: center; }
    main form .tagContainer {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 150px;
      padding: 10px 0;
      margin: 5px;
      border: 1px solid #dee0df;
      cursor: pointer; }
      main form .tagContainer label {
        font-size: 13px;
        margin: 0 5px 0 0;
        color: #525252; }
      main form .tagContainer input[type=checkbox] {
        position: absolute;
        width: 15px;
        margin: 0;
        visibility: hidden; }
    main form .checked {
      background-color: red; }
      main form .checked label {
        color: white; }
    main form .addTagContainer {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      margin-top: 15px; }
      main form .addTagContainer span {
        cursor: pointer; }
      main form .addTagContainer input {
        width: 300px;
        transform: scaleX(0);
        transform-origin: left;
        transition: all .35s ease-out;
        margin: 3px 15px 0 0; }
      main form .addTagContainer .isVisible {
        transform: scaleX(1); }
      main form .addTagContainer .add {
        background-color: #64dd17;
        color: white; }
        main form .addTagContainer .add:hover {
          box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3); }
  main textarea {
    height: 40px; }
  main input, main textarea {
    margin-bottom: 15px;
    width: 350px; }
  main .articleContainer {
    height: 100%; }
  main .leftMenu {
    overflow-y: scroll; }
  main nav {
    height: 100%;
    padding: 0 20px;
    margin-top: 12px;
    color: #525252;
    border-right: 1px solid #dee0df; }
    main nav h2 {
      color: #fe0000;
      font-size: 1.6em;
      margin: 35px 0 25px 0;
      font-weight: bold; }
    main nav ul {
      color: #525252;
      padding: 0 15px;
      overflow: auto; }
    main nav li {
      display: flex;
      align-items: center;
      height: 50px;
      margin-left: 5px;
      margin-bottom: 5px;
      cursor: pointer;
      padding: 5px;
      transition: all 0.1s ease-in-out;
      list-style: none; }
      main nav li:hover {
        color: white;
        background-color: #fe0000;
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3); }
  main article {
    background-color: #f1f1f1;
    color: #525252;
    padding: 10px 15px;
    margin-top: 35px;
    align-items: center;
    width: 80%;
    min-height: 500px; }
    main article h2 {
      margin-bottom: 30px;
      color: #525252;
      width: 100%;
      text-align: center;
      padding: 20px; }
    main article p, main article pre {
      margin-bottom: 25px;
      font-size: 1.2em;
      width: 80%; }
    main article a {
      width: 80%;
      color: #fe0000; }
      main article a:hover {
        text-decoration: none; }
    main article nav {
      border: none; }

.boutonContainer {
  display: flex;
  width: 100%;
  padding: 5px; }
  .boutonContainer a {
    display: flex;
    justify-content: flex-start; }
    .boutonContainer a:last-child {
      justify-content: flex-end; }

#openModal {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  display: none;
  background-color: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out; }

.myModal {
  margin: 0 auto;
  background-color: #f1f1f1;
  padding: 20px 50px; }
  .myModal a {
    color: #ff5953; }
    .myModal a:hover {
      color: #ff5953;
      text-decoration: none; }
    .myModal a:focus {
      outline: none;
      color: #ff5953; }
    .myModal a:link {
      color: #ff5953; }

#openModal:target {
  z-index: 5;
  display: flex; }

footer {
  background-color: #dee0df;
  margin-top: 30px;
  height: 80px; }

.tag_nav {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: white;
  border: none;
  overflow: visible; }
  .tag_nav p {
    position: relative;
    display: flex;
    width: 200px;
    height: 50px;
    background-color: white;
    margin: 10px;
    cursor: pointer;
    border: 1px solid #dee0df;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    transition: all .15s ease-out; }
    .tag_nav p:hover {
      background-color: #fe0000;
      color: white; }

.tagArticleNav {
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  border: none; }
  .tagArticleNav div {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 300px;
    height: 250px;
    margin: 10px;
    background-color: white;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
    padding: 0 10px 25px 10px;
    border: 1px solid #dee0df; }
    .tagArticleNav div p:first-child {
      display: flex;
      width: 90%;
      height: 60px;
      align-self: center;
      justify-content: center;
      font-size: 1.5em;
      font-weight: bold; }
    .tagArticleNav div button {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 180px;
      height: 46px;
      margin-bottom: 10px;
      background-color: #525252;
      border: 1px solid #dee0df;
      color: white;
      box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3); }

@media all and (max-width: 700px) {
  body {
    min-height: 650px;
    overflow: scroll; }

  header {
    border: none; }
    header h1 {
      border-right: none; }
    header nav {
      width: 100vw;
      margin-top: 15px;
      background-color: #525252; }
    header .connexion {
      width: 150px; }
    header .addTagContainer .connexion {
      display: none; }
    header .smallDeviceAdd {
      display: flex !important; }

  main {
    padding: 0; }
    main .test {
      padding: 0; }

  main article {
    min-height: 250px;
    width: 100vw !important; }

  .articleContainer {
    width: 100%; }

  li.parent:hover ul {
    display: block;
    top: 0;
    left: 100px; }

  form {
    width: 100vw !important;
    padding: 20px 0;
    border: none; }
    form input[type=text], form input[type=mail], form input[type=password], form input[type=number], form input[type=tel], form textarea {
      background: transparent;
      border: none;
      border-bottom: 1px solid #dee0df;
      padding: 5px 0 5px 5px;
      color: #525252;
      width: 250px !important;
      transition: all 0.2s ease-in-out;
      letter-spacing: 0.05em; } }

/*# sourceMappingURL=blog.css.map */
