$lightgrey: #f1f1f1;
$pink: #ff5953;
$lagoon: #5eefb6;
$white: white;
$black: #2d2d2a;
$darkgrey: #525252;
$grey: #dee0df;
$red : #fe0000;

// @mixin rounded-corners {
//   border-radius: 3px;
// }

.flexRow,
.flexColumn {
  display: flex;
}

.flexRow {
  flex-direction: row;
}

.flexColumn {
  flex-direction: column;
}

.flex1 {
  flex: 1;
}

.flexWrap {
  flex-wrap: wrap;
}

.justifyCenter {
  justify-content: center;
}

.justifyFlexEnd {
  justify-content: flex-end;
}

.justifyFlexStart {
  justify-content: flex-start;
}

.justifySpaceAround {
  justify-content: space-around;
}

.justifySpaceBetween {
  justify-content: space-between;
}

.alignItemsCenter {
  align-items: center;
}

.flexBasis40 {
  flex-basis: 80%;
}

.flexBasis80 {
  flex-basis: 80%;
}

.flexBasis100 {
  flex-basis: 100%;
}

.perfectCenter {
  @extend .justifyCenter;
  @extend .alignItemsCenter;
}

.mainSection {
  padding-bottom: 80px;
}

body {
  background-color: $white;
  font-size: 18px;
  width: 100%;
  height: auto;
}

i {
  display: flex;
  border: 1px solid $grey;
  color: $darkgrey;
  cursor: pointer;
  padding: 10px;
  background-color: $white;
}

.connexion {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 180px;
  height: 46px;
  margin: 0 10px;
  background-color: $white;
  border: 1px solid $grey;
  color: $darkgrey;
}

i, .connexion {
  transition: all ease-out .1s;
  &:hover {
    background-color: $red;
    color: $white;
    box-shadow: 0 2px 2px rgba(0,0,0, .3);
  }
}


header {
  background-color: $white;
  border-bottom: 1px solid $grey;


  a {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 !important;
    &:hover {
      text-decoration: none;
    }
  }

  a, i {
    height: 46px;
    margin-left: 15px;
  }

  button {
    height: 100%;
  }

  .blackHeader {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 5px 0 10px 0;
  }

  h1 {
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
    color: $darkgrey;
    margin: 0;
    font-size: 1.5em;
    font-weight: bold;
    border-right: 1px solid $grey;
    cursor: pointer;
    img {
      height: 35px;
      width: 35px;
      margin-right: 10px;
    }
  }

  button {
    padding-bottom: 10px !important;
    border-radius: 0 !important;
  }

  nav {
    padding: 5px 0;
  }

  input {
    width: 250px;
  }
}

li.parent {
  margin: 5px 15px 0 15px;
  list-style-type: none;
  position: relative;
  width: 100px;
  color: $white;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  padding: 5px;
  text-align: center;
  &:hover {
    background-color: $lagoon;
    color: $darkgrey;
  }
  ul {
    display: none;
    padding-left: 0;
    position: absolute;
    width: 100%;
    left: 0;
  }
  li {
    list-style-type: none;
    color: $white;
    padding: 5px;
    background-color: $darkgrey;
    transition: all 0.2s ease-in-out;
    &:hover {
      background-color: $lagoon;
      color: $white;
    }
  }
}

li.parent:hover {
  ul {
    display: block;
  }
}

main {
  background-color: $white;
  align-items: flex-start;
  height: 100vh;

  form {
    background-color: $white;
    padding: 25px 10px;
    margin: 50px auto;
    width: 50%;
    border: 1px solid $grey;
    .inputcontainer {
      position: relative;
      margin-bottom: 40px;
    }

    .floating-label {
      position: absolute;
      top: 5px;
      left: 2px;
      color: $grey;
      transition: all 0.2s ease-in-out;
      pointer-events: none;
    }

    input[type=text], input[type=mail], input[type=password], input[type=number], input[type=tel], textarea {
      background: transparent;
      border: none;
      border-bottom: 1px solid $grey ;
      padding: 5px 0 5px 5px;
      color: $darkgrey;
      width: 350px;
      transition: all 0.2s ease-in-out;
      letter-spacing: 0.05em;
    }

    input[type=radio] {
      margin-right: 5px;
    }

    input[type=radio]:checked {
      background-color: #06172d;
    }

    input:focus {
      border-bottom: 1px solid $darkgrey;
      color: #06172d;
    }

    input:focus ~ .floating-label, textarea:focus ~ .floating-label {
      color: $darkgrey;
      top: -15px;
      font-size: 11px;
    }

    .tagContainerParent {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      margin-bottom: 30px;;
      .roundIcon {
        font-size: 10px;
      }
    }

    .tagContainer {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 150px;
      padding: 10px 0;
      margin: 5px;
      border: 1px solid $grey;
      cursor: pointer;
      label {
        font-size: 13px;
        margin: 0 5px 0 0;
        color: $darkgrey;
      }
      input[type=checkbox] {
        width: 15px;
        margin: 0;
      }
    }

    .checked {
      background-color: red;
      label {
        color: white;
      }
    }

    .addTagContainer {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      input {
        transform: scaleX(0);
        transform-origin: left;
        transition: all .1s ease-out;
        margin: 6px 15px 0 45px;
      }
      .isVisible {
        transform: scaleX(1);
      }
      .add {
        background-color: #64dd17;
        color: $white;
        &:hover {
          box-shadow: 0 2px 2px rgba(0,0,0, .3);
        }
      }
    }
  }

  textarea {
    height: 40px;
  }

  input, textarea {
    margin-bottom: 15px;
    width: 350px;
  }



  .articleContainer {
    height: 100%;
  }

  nav {
    height: 90%;
    padding: 0 20px;
    margin-top: 12px;
    color: $darkgrey;
    border-right: 1px solid $grey;
    overflow-y: scroll;
    h2 {
      color: $red;
      font-size: 1.6em;
      margin: 35px 0 25px 0;
      font-weight: bold;
    }

    ul {
      color: $darkgrey;
      padding: 0 15px;
      overflow: auto;
      // border-left: 1px dashed $red;
    }

    li {
      display: flex;
      align-items: center;
      height: 50px;
      margin-left: 5px;
      margin-bottom: 5px;
      cursor: pointer;
      padding: 5px;
      transition: all 0.1s ease-in-out;
      list-style: none;
      &:hover {
        color: $white;
        background-color: $red;
        box-shadow: 0 2px 2px rgba(0,0,0, .3);
      }
    }
  }

  article {
    background-color: $lightgrey;
    color: $darkgrey;
    padding: 10px 15px;
    margin-top: 35px;
    align-items: center;
    width: 80%;
    min-height: 500px;
    h2 {
      margin-bottom: 30px;
      color: $darkgrey;
      width: 100%;
      text-align: center;
      padding: 20px;
    }
    p, pre {
      margin-bottom: 25px;
      font-size: 1.2em;
      width: 80%;
    }

    a {
      width: 80%;
      color: $red;
      &:hover{
        text-decoration: none;
      }
    }
    nav {
      border: none;
    }
  }
}

.boutonContainer {
  display: flex;
  width: 100%;
  padding: 5px;

  a {
    display: flex;
    justify-content: flex-start;
    &:last-child {
      justify-content: flex-end;
    }
  }
}


#openModal {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  display: none;
  background-color: rgba(0,0,0,0.8);
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
}

.myModal {
  margin: 0 auto;
  background-color: $lightgrey;
  padding: 20px 50px;

  a {
    color: $pink;
    &:hover {
      color: $pink;
      text-decoration: none;
    }

    &:focus {
      outline: none;
      color: $pink;
    }

    &:link {
      color: $pink;
    }
  }
}

#openModal:target {
  z-index: 5;
  display: flex;
}

footer {
  background-color: $grey;
  margin-top: 30px;
  height: 80px;
}

.tag_nav {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: $white;
  border: none;
  overflow: visible;
    p {
      position: relative;
      display: flex;
      width: 200px;
      height: 50px;
      background-color: $white;
      margin: 10px;
      cursor: pointer;
      border: 1px solid $grey;
      box-shadow: 2px 2px 2px rgba(0,0,0, .3);
      transition: all .15s ease-out;
      &:hover {
        background-color: $red;
        color: $white;
      }
    }
}

.tagArticleNav {
  display: flex;
  flex-wrap: wrap;
  background-color: $white;
  border: none;

    div {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      width: 300px;
      height: 250px;
      margin: 10px;
      background-color: $white;
      box-shadow: 2px 2px 2px rgba(0,0,0, .1);
      padding: 0 10px 25px 10px;
      border: 1px solid $grey;
      p:first-child {
        display: flex;
        width: 90%;
        height: 60px;
        align-self: center;
        justify-content: center;
        font-size: 1.5em;
        font-weight: bold;
      }
      button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 180px;
        height: 46px;
        margin-bottom: 10px;
        background-color: $darkgrey;
        border: 1px solid $grey;
        color: $white;
        box-shadow: 0 2px 2px rgba(0,0,0, .3);
      }
    }
}

@media all and (max-width: 700px) {
    body {
      min-height: 650px;
      overflow: scroll;
    }

    header {
      border: none;

      h1 {
       border-right: none;
      }

      nav {
        width: 100vw;
        margin-top: 15px;
        background-color: $darkgrey;
      }

      .connexion {
        width: 150px;
      }

    }


    main {
      padding: 0;
      .test {
        padding: 0;
      }
    }

    main article {
      min-height: 250px;
      width: 100vw !important;
    }

    .articleContainer {
      width: 100%;
    }

    li.parent:hover {
      ul {
        display: block;
        top: 0;
        left: 100px;
      }
    }

    form {
      width: 100% !important;
      padding: 20px 0;
      border: none;

      input[type=text], input[type=mail], input[type=password], input[type=number], input[type=tel], textarea {
        width: 100vw;
      }
    }
}
