$lightgrey: #f1f1f1;
$pink: #ff5953;
$lagoon: #5eefb6;
$white: white;
$black: #2d2d2a;
$darkgrey: #525252;
$grey: #dee0df;
$red : #fe0000;

// @mixin rounded-corners {
//   border-radius: 3px;
// }

.flexRow,
.flexColumn {
  display: flex;
}

.flexRow {
  flex-direction: row;
}

.flexColumn {
  flex-direction: column;
}

.flex1 {
  flex: 1;
}

.flexWrap {
  flex-wrap: wrap;
}

.justifyCenter {
  justify-content: center;
}

.justifyFlexEnd {
  justify-content: flex-end;
}

.justifyFlexStart {
  justify-content: flex-start;
}

.justifySpaceAround {
  justify-content: space-around;
}

.justifySpaceBetween {
  justify-content: space-between;
}

.alignItemsCenter {
  align-items: center;
}

.flexBasis40 {
  flex-basis: 80%;
}

.flexBasis80 {
  flex-basis: 80%;
}

.flexBasis100 {
  flex-basis: 100%;
}

.perfectCenter {
  @extend .justifyCenter;
  @extend .alignItemsCenter;
}

.mainSection {
  padding-bottom: 80px;
}

body {
  background-color: $white;
  font-size: 18px;
  width: 100%;
  height: auto;
}

i {
  display: flex;
  border: 1px solid $grey;
  color: $darkgrey;
  cursor: pointer;
  padding: 10px;
  background-color: $white;
}

button {
  width: 180px;
  height: 40px;
  margin: 7px 0 !important;
  background-color: $white !important;
  border: 1px solid $grey !important;
  color: $darkgrey !important;
  font-weight: bold;
}

header {
  background-color: $white;
  border-bottom: 1px solid $grey;

  a {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 !important;
    &:hover {
      text-decoration: none;
    }
  }

  a, i {
    height: 46px;
    margin-left: 15px;
  }

  button {
    height: 100%;
  }

  .blackHeader {
    display: flex;
    align-items: center;
    padding: 5px 0 10px 0;
  }

  h1 {
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
    color: $darkgrey;
    margin: 0;
    font-size: 1.5em;
    font-weight: bold;
    border-right: 1px solid $grey;
    img {
      height: 35px;
      width: 35px;
      margin-right: 10px;
    }
  }

  button {
    padding-bottom: 10px !important;
    border-radius: 0 !important;
  }

  nav {
    background-color: $darkgrey;
    padding: 5px 0;
  }

  input {
    width: 250px;
  }
}

li.parent {
  margin: 5px 15px 0 15px;
  list-style-type: none;
  position: relative;
  width: 100px;
  color: $white;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  padding: 5px;
  text-align: center;
  &:hover {
    background-color: $lagoon;
    color: $darkgrey;
  }
  ul {
    display: none;
    padding-left: 0;
    position: absolute;
    width: 100%;
    left: 0;
  }
  li {
    list-style-type: none;
    color: $white;
    padding: 5px;
    background-color: $darkgrey;
    transition: all 0.2s ease-in-out;
    &:hover {
      background-color: $lagoon;
      color: $white;
    }
  }
}

li.parent:hover {
  ul {
    display: block;
  }
}

main {
  background-color: $white;
  align-items: flex-start;
  height: 100vh;

  form {
    background-color: $lagoon;
    padding: 15px 10px;
    margin: 50px auto;
    width: 50%;
  }

  textarea {
    resize: none;
  }

  input, textarea {
    margin-bottom: 15px;
    width: 350px;
  }

  .articleContainer {
    height: 100%;
  }

  nav {
    height: 100%;
    padding: 0 20px;
    margin-top: 12px;
    color: $darkgrey;
    border-right: 1px solid $grey;
    h2 {
      color: $red;
      font-size: 1.6em;
      margin: 35px 0 25px 0;
      font-weight: bold;
    }

    ul {
      color: $darkgrey;
      padding: 0 15px;
      overflow: auto;
      // border-left: 1px dashed $red;
    }

    li {
      margin-left: 5px;
      margin-bottom: 5px;
      cursor: pointer;
      padding: 5px;
      transition: all 0.1s ease-in-out;
      list-style: none;
      &:hover {
        color: $black;
        background-color: $white;
      }
    }
  }

  article {
    background-color: $lightgrey;
    color: $darkgrey;
    padding: 10px 15px;
    margin-top: 35px;
    align-items: center;
    width: 80% !important;
    min-height: 500px;
    h2 {
      margin-bottom: 30px;
      color: $darkgrey;
      width: 100%;
      text-align: center;
      padding: 20px;
    }
    p, pre {
      margin-bottom: 25px;
      font-size: 1.2em;
      width: 80%;
    }

    a {
      width: 80%;
      color: $red;
    }
    nav {
      border: none;
    }
  }
}

.boutonContainer {
  display: flex;
  width: 100%;
  padding: 5px;

  a {
    display: flex;
    justify-content: flex-start;
    &:last-child {
      justify-content: flex-end;
    }
  }
}


#openModal {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  display: none;
  background-color: rgba(0,0,0,0.8);
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
}

.myModal {
  margin: 0 auto;
  background-color: $lightgrey;
  padding: 20px 50px;

  a {
    color: $pink;
    &:hover {
      color: $pink;
      text-decoration: none;
    }

    &:focus {
      outline: none;
      color: $pink;
    }

    &:link {
      color: $pink;
    }
  }
}

#openModal:target {
  z-index: 5;
  display: flex;
}

footer {
  background-color: $grey;
  margin-top: 30px;
  height: 80px;
}

.tag_nav {
  display: flex;
  flex-wrap: wrap;
  background-color: $white;
  border: none;

    p {
      position: relative;
      display: flex;
      width: 200px;
      height: 50px;
      background-color: $white;
      margin: 10px;
      cursor: pointer;
      border: 1px solid $grey;
      box-shadow: 2px 2px 2px rgba(0,0,0, .3);
      transition: all .15s ease-out;
      &:hover {
        background-color: $black;
        color: $white;
      }
    }
}

.tagArticleNav {
  display: flex;
  flex-wrap: wrap;
  background-color: $white;
  border: none;

    div {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      width: 300px;
      height: 300px;
      margin: 10px;
      background-color: $white;
      box-shadow: 4px 4px 2px rgba(0,0,0, .3);
      padding: 0 10px 15px 10px;
      border: 1px solid $grey;
      p:first-child {
        display: flex;
        width: 90%;
        height: 110px;
        align-self: center;
        justify-content: center;
        font-size: 1.5em;
        font-weight: bold;
      }
      button {
        background-color: $red !important;
        color: $white !important;
      }
    }
}

@media all and (max-width: 700px) {
    body {
      height: 650px;
      overflow: scroll;
    }

    article {
      min-height: 350px;
    }

    button {
      width: 140px;
    }

    header {
      ul {
        flex-direction: column !important;
      }
    }

    li.parent:hover {
      ul {
        display: block;
        top: 0;
        left: 100px;
      }
    }

    form {
      width: 100% !important;
    }
}
