@font-face {
  src: url("../fonts/Oswald-Regular.ttf");
  font-family: "Oswald";
  font-weight: normal;
}

@font-face {
  src: url("../fonts/Oswald-Bold.ttf");
  font-family: "Oswald";
  font-weight: bold;
}

@font-face {
  src: url("../fonts/Oswald-Light.ttf");
  font-family: "Oswald";
  font-weight: 200;
}

$lightgrey: #eeeeee;
$pink: #ff5953;
$lagoon: #69f0ae;
$white: white;
$black: #2d2d2a;
$darkgrey: #333333;
$orange : $lagoon;

// @mixin rounded-corners {
//   border-radius: 3px;
// }

.flexRow,
.flexColumn {
  display: flex;
}

.flexRow {
  flex-direction: row;
}

.flexColumn {
  flex-direction: column;
}

.flex1 {
  flex: 1;
}

.flexWrap {
  flex-wrap: wrap;
}

.justifyCenter {
  justify-content: center;
}

.justifyFlexEnd {
  justify-content: flex-end;
}

.justifyFlexStart {
  justify-content: flex-start;
}

.justifySpaceAround {
  justify-content: space-around;
}

.justifySpaceBetween {
  justify-content: space-between;
}

.alignItemsCenter {
  align-items: center;
}

.flexBasis40 {
  flex-basis: 80%;
}

.flexBasis80 {
  flex-basis: 80%;
}

.flexBasis100 {
  flex-basis: 100%;
}

.perfectCenter {
  @extend .justifyCenter;
  @extend .alignItemsCenter;
}

.mainSection {
  padding-bottom: 80px;
}

body {
  background-color: $white;
  font-family: "Oswald" !important;
  font-size: 18px;
  width: 100%;
  height: auto;
}

button {
  width: 180px;
  height: 40px;
  margin: 7px 0 !important;
  background-color: $pink !important;
  border: 1px solid $pink !important;
  color: $white !important;
}

header {
  background-color: $lagoon;
  color: $darkgrey;
  border-bottom: 1px solid $pink;

  .blackHeader {
    padding: 5px 0 10px 0;
  }

  h1 {
    text-align: center;
    color: $white;
    font-weight: bold;
    height: 50px;
    span {
      color: $pink;
    }
  }

  .connexion {
    margin-top: 15px;
  }

  button {
    padding-bottom: 10px !important;
    border-radius: 0 !important;
  }

  nav {
    background-color: $darkgrey;
    padding: 5px 0;
  }

  input {
    width: 250px;
  }
}

li.parent {
  margin: 5px 15px 0 15px;
  list-style-type: none;
  position: relative;
  width: 100px;
  color: $white;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  padding: 5px;
  text-align: center;
  &:hover {
    background-color: $lagoon;
    color: $darkgrey;
  }
  ul {
    display: none;
    padding-left: 0;
    position: absolute;
    width: 100%;
    left: 0;
  }
  li {
    list-style-type: none;
    color: $white;
    padding: 5px;
    background-color: $darkgrey;
    transition: all 0.2s ease-in-out;
    &:hover {
      background-color: $pink;
      color: $white;
    }
  }
}

li.parent:hover {
  ul {
    display: block;
  }
}

main {
  background-color: $white;
  align-items: flex-start;
  min-height: 100vh;

  form {
    background-color: $pink;
    padding: 15px 10px;
    margin: 50px auto;
    width: 50%;
  }

  textarea {
    resize: none;
  }

  input, textarea {
    margin-bottom: 15px;
    width: 350px;
  }

  nav {
    padding: 20px;
    margin-top: 30px;
    color: $darkgrey;

    h2 {
      color: $lagoon;
      font-size: 1.6em;
      margin-bottom: 15px;
      font-weight: bold;
    }

    ul {
      padding: 0;
    }

    li {
      margin-left: 5px;
      margin-bottom: 5px;
      cursor: pointer;
      padding: 5px;
      transition: all 0.1s ease-in-out;
      list-style: none;
      &:hover {
        color: $white;
        background-color: $pink;
      }
    }
  }

  article {
    background-color: $darkgrey;
    color: $white;
    padding: 10px 15px;
    margin-top: 30px;
    align-items: center;
    width: 100% !important;
    min-height: 100vh;
    h2 {
      margin-bottom: 30px;
      color: $white;
    }
    p, pre {
      margin-bottom: 25px;
      font-size: 1.2em;
      width: 80%;
    }
  }
}

.boutonContainer {
  width: 100%;

  padding: 5px;
}


#openModal {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  display: none;
  background-color: rgba(0,0,0,0.8);
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
}

.myModal {
  margin: 0 auto;
  background-color: $lightgrey;
  padding: 20px 50px;

  a {
    color: $pink;
    &:hover {
      color: $pink;
      text-decoration: none;
    }

    &:focus {
      outline: none;
      color: $pink;
    }

    &:link {
      color: $pink;
    }
  }
}

#openModal:target {
  z-index: 5;
  display: flex;
}

footer {
  background-color: $darkgrey;
  margin-top: 30px;
  height: 80px;
}

@media all and (max-width: 500px) {

    button {
      width: 140px !important;
    }

    header {
      ul {
        flex-direction: column !important;
      }
    }

    li.parent:hover {
      ul {
        display: block;
        top: 0;
        left: 100px;
      }
    }

    form {
      width: 100% !important;
    }
}
